<div class="h-screen w-screen text-center ">

	<p class="px-4 py-2 text-lg font-bold text-gray-500">
		Paramètres
	</p>
    <div *ngIf="!(user | async)">
        
    </div>
    <div *ngIf="(user | async)">
        <p>Type de compte : {{ (user | async)?.accountType }}</p>
        <p>Votre nom : {{ (user | async)?.displayName }}</p>
        <p>Email: {{ (user | async)?.email }}</p>
        <div *ngIf="(afAuth.user | async)?.emailVerified == true">
            <p>Vérifié :o</p>
        </div>

        <div *ngIf="(afAuth.user | async)?.emailVerified == false">
            <p> Votre adresse mail n'est pas vérifiée :o</p>
            <a role="button" class="px-4 py-2 text-sm font-bold text-c_lightgreen" (click)="sendMail()">Renvoyer vérification d'adresse mail</a>
        </div>
        <a routerLink="/reset-password" role="button" class="px-4 py-2 text-sm font-bold text-c_lightgreen">Réinitialiser son mot de passe</a>
	</div>


</div>
<!-- 
    Verify Email
<p *ngIf="!(afAuth.user | async)"></p>
    <p>A verification email will be sent to <span>{{ (user | async)?.email }}</span>.</p>
</div>
-->
