<div class="flex justify-center items-center">
    <button type="button" (click)="recordParkour()" class="text-white bg-c_green hover:bg-c_green_b focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-xs sm:text-xs md:text-md  px-5 py-2.5 text-center m-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">Enregistrer mon parcours</button>
    <a routerLink="/parkours" role="button" class="text-sm font-bold text-c_lightgreen text-center">Consulter mes parcours</a>
</div>
<div class="h-screen" id="map">
</div>
