


<nav class="bg-c_gray shadow-lg">
    <div class="max-w-6xl mx-auto px-4">
        <div class="flex justify-between">
            <div class="flex space-x-7">
                <div>
                    <a href="#" class="flex items-center py-4 px-2">
                        <img src="assets/img/bike.png" alt="Bike" class="h-8 w-8 mr-2"> 
                        <!-- Bike icons created by photo3idea_studio - Flaticon - -->
                        <span class="font-semibold text-c_lightgreen text-lg">Sport App</span>
                    </a>
                </div>
                <div class="hidden md:flex items-center space-x-1">
                    <div></div>
                    <a routerLink='' class="py-4 px-2 text-c_lightgreen font-semibold hover:text-c_green transition duration-300" >Accueil</a>
                    <a routerLink='/map' class="py-4 px-2 text-c_lightgreen font-semibold hover:text-c_green transition duration-300">Suivi de performance</a>
                    <a routerLink='/training' class="py-4 px-2 text-c_lightgreen font-semibold hover:text-c_green transition duration-300">Entraînements</a>
                </div>
            </div>
            <div class="md:hidden flex items-center">
                <button class="outline-none mobile-menu-button">
                    <svg class=" w-6 h-6"
                        fill="none"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        viewBox="0 0 24 24"
                        stroke="#F6ED46"
                        >
                        <path d="M4 6h16M4 12h16M4 18h16"></path>
                    </svg>
                </button>
            </div>
        </div>
    </div>
    <div class="hidden mobile-menu">
        <ul>
            <li><a routerLink='' class="block text-sm px-2 py-4 text-c_lightgreen hover:bg-c_green transition duration-300">Accueil</a></li>
            <li><a routerLink='/map' class="block text-sm px-2 py-4 text-c_lightgreen hover:bg-c_green transition duration-300">Suivi de performance</a></li>
            <li><a routerLink='/training' class="block text-sm px-2 py-4 text-c_lightgreen hover:bg-c_green transition duration-300">Entraînements</a></li>
        </ul>
    </div>
</nav>
<router-outlet></router-outlet>